* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.boxlist {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.boxlist:last-child {
  margin-right: 0px;
}

.box1img {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.box2img {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.box3img {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.number {
  color: white;
  position: absolute;
  background-color: #ff9a4b;
  top: 0;
  left: 0;
}

.title {
  padding-top: 15px;
  padding-bottom: 5px;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }
  main {
    width: 100%;
    display: block;
  }

  .boxlist {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .boxlist:nth-child(1) {
    margin-bottom: 20px;
  }

  .boxlist:nth-child(2) {
    margin-bottom: 20px;
  }
}
